html,body {
    background: rgb(42,144,223);
    min-height: 100%;
}
body, sub, sup{
    position: relative;
}
body, button, input, select, textarea{
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}
body{
    margin: 0;
    background: #fff;
    font-family: "Segoe UI","Lucida Grande",Helvetica,Arial,"Microsoft YaHei",
    FreeSans,Arimo,"Droid Sans","wenquanyi micro hei","Hiragino Sans GB"," Hiragino Sans GB W3",
    FontAwesome,sans-serif;
    font-weight: 400;
    color: #333;
    font-size: 1.6rem;
}
body, pre{
    line-height: 1.6;
}
div {
    display: block;
}
form {
    display: block;
    margin-top: 0em;
}
address, blockquote, dl, fieldset, figure, hr, ol, p, pre, ul
{
    margin: 0 0 1.6rem;
}
.login {
    background: url('../images/bg.jpg') rgb(42,144,223) ;
    background-size: 100%;
    height: 100%;
}
.login .login-bg
{
    padding-top: 30px;
    height: 100%;
}
.login .login-logo
{
    width: 100%;
    text-align: center;
}
.login .login-logo i
{
    font-size:120px;
    color: #fff;
}
.login .login-form
{
    margin: 0 auto;
    float:none;
    padding-top: 20px;
}
.am-form-group {
    margin-bottom: 1.5rem;
}
fieldset{
    border: none;
    padding: .35em .625em .75em;
    display: block;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
}
.am-form input[type=email] ,.am-form input[type=password]{
    display: block;
    width: 100%;
    padding: .5em;
    font-size: 1.6rem;
    line-height: 1.2;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0;
    -webkit-appearance: none;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.login .login-form  .am-form .am-form-group input
{
    font-size: 14px;
    padding:10px 0 ;
    background:none;
    border: none;
    text-align: center;
    border-bottom: 1px solid #fff;
    color: #fff;
}
.am-btn
{
    display: inline-block;
    margin-bottom: 0;
    padding: .5em 1em;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.2;
    text-align: center;
    white-space: nowrap;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0;
    cursor: pointer;
    outline: 0;
    -webkit-appearance: none;
    -webkit-user-select: none;
    user-select: none;
    transition: background-color .3s ease-out,border-color .3s ease-out;
}
input {
    -webkit-appearance: textfield;
    background-color: white;
    -webkit-rtl-ordering: logical;
    cursor: text;
    padding: 1px;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}
.login .login-form  .am-form button
{
    background: #fff;
    width: 100%;
    border-radius: 30px;
    color: #2a90df;
    border: none;
    font-size: 14px;
    margin-top: 20px;
}
.login .login-form  .am-form .login-text
{
    font-size: 14px;
    width: 100%;
    color: #fff;
    padding-top: 20px;
    text-align: center;
}
.am-container:after, .am-container:before,
.am-g:after{
    display: table;
    content: " ";
}
*, :after, :before{
    box-sizing: border-box;
}
*, :after, :before, img{
    -webkit-box-sizing: border-box;
}
.am-icon-stumbleupon:before{
    content: "\f1a4";
}
.am-container:after, .am-g:after
{
    clear: both;
}
.am-span-1{
    font-size: 17px;
    color: Red;
    position: absolute;
    left: 59px;
    bottom: 403px;
}
.am-span-2{
    font-size: 17px;
    color: Red;
    position: absolute;
    left: 59px;
    bottom: 340px;
}
.am-span-3{
    font-size: 17px;
    color: Red;
    position: absolute;
    left: 59px;
    bottom: 278px;
}