doctype html
html
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
        meta(name='keywords', content='')
        meta(name='description', content='')
        link(rel='stylesheet', href='../stylesheets/amazeui.min.css')
        link(rel='stylesheet', href='../stylesheets/fleshcontent.css')
        title 新鲜事
    body(style='background:#ececec')
        .am-gotop.am-gotop-fixed(data-am-widget='gotop')
            a(href='#top', title='')
                img.am-gotop-icon-custom(src='../images/goTop.png')
        .pet_mian
            .pet_head
                header.am-header.am-header-default.pet_head_block(data-am-widget='header')
                    .am-header-left.am-header-nav
                        a.iconfont.pet_head_jt_ico(href='/indexnew') 
                    h1.am-header-title.pet_article_user
                        span.pet_article_user_name 新鲜事
                    .am-header-right.am-header-nav
                        a.iconfont.pet_head_gd_ico(href='javascript:;') 
            .pet_more_list
                .pet_more_list_block
                    .iconfont.pet_more_close ×
                    .pet_more_list_block
                        .pet_more_list_block_name
                            .pet_more_list_block_name_title 阅读 Read
                            a.pet_more_list_block_line(href='/interest')
                                i.iconfont.pet_nav_mengzhuanti.pet_more_list_block_line_ico 
                                .pet_more_list_block_line_font 趣闻
                            a.pet_more_list_block_line(href='/video')
                                i.iconfont.pet_nav_bk.pet_more_list_block_line_ico 
                                .pet_more_list_block_line_font 视频
                            a.pet_more_list_block_line(href='/indexnew')
                                i.iconfont.pet_nav_wd.pet_more_list_block_line_ico 
                                .pet_more_list_block_line_font 首页
            .pet_content
                .pet_content_block
                    article.am-paragraph.am-paragraph-default.pet_content_article(data-am-widget='paragraph', data-am-paragraph='{ tableScrollable: true, pureview: true }')
                        h1.pet_article_title 让你重新认识南极洲吗？
                        .pet_article_user_time 发表于：2018-11-25
                        img(src='../images/nanji1.jpg')
                        p.paragraph-default-p
                            | 南极洲又称
                            a(href='###') 第七大陆
                            | ，是地球上最后一个被发现、唯一没有土著人居住的大陆。
                        p
                            | 南极大陆为通常所说的南大洋（太平洋、印度洋和大西洋的南部水域）所包围，它与南美洲最近的距离为965公里，距新西兰2000公里、距澳大利亚2500公里、距南非3800公里、距中国北京的距离约有12000公里。南极大陆的总面积为1390万平方公里，相当于中国和印巴次大陆面积的总和，居世界各洲第五位。
                        p
                        blockquote
                            p 有一天我们也要去南极走走！！
                        p
                        img(src='../images/nanji2.jpg')
                        p
                            | 整个南极大陆被一个巨大的冰盖所覆盖，平均海拔为2350米。南极洲是由冈瓦纳大陆分离解体而成，是世界上最高的大陆。南极横断山脉将南极大陆分成东西两部分。这两部分在地理和地质上差别很大。
                        img(src='../images/nanji3.jpg')
                        p
                            | 东南极洲是一块很古老的大陆，据科学家推算,已有几亿年的历史。它的中心位于难接近点，从任何海边到难接近点的距离都很远。东南极洲平均海拔高度2500米，最大高度4800 米。在东南极洲有南极大陆最大的活火山，即位于罗斯岛上的埃里伯斯火山，海拔高度3795米，有四个喷火口
                    article.am-paragraph.am-paragraph-default.pet_content_article(data-am-widget='paragraph', data-am-paragraph='{ tableScrollable: true, pureview: true }')
                        h1.pet_article_title 天文学家发现拥有四个太阳的奇异星系
                        .pet_article_user_time 发表于：2019-01-16
                        img(src='../images/sun1 .jpg')
                        p.paragraph-default-p
                            | 我们的
                            a(href='###') 太阳系
                            | 有一颗恒星和八大行星
                        p
                            | 但其他星系的情况可能远不止如此，也会出现有两颗或三颗恒星围绕彼此运行的情况。一支天文学家小组日前观测到一个隐藏在146光年之外的由由四颗恒星组成的星系。
                        p
                        blockquote
                            p 该星系被命名为HD 98800。
                        p
                        img(src='../images/sun2 .jpg')
                        p
                            | 天文学家们使用位于智利的阿塔卡马大型毫米阵列射电望远镜发现了它。射电望远镜是发现这个星系的关键，因为这些恒星被原行星盘所包围。据悉，原行星盘是指在行星形成之前，在星系早期中出现的尘埃和气体环。最终，这些尘埃和气体会坍缩成行星，但在此之前，这个圆盘会阻止大部分光线逃离星系。
                        img(src='../images/sun3.jpg')
                        p
                            | 然而，无线电波可以穿透尘埃。基于这一原理，科学家们利用射电望远镜在尘埃中发现了四颗独立的恒星。这四颗恒星形成了两个双星对，一对在星系中央，另一对在数十亿英里外的轨道上运行。按照天文学家的方式，外层的一对被命名为Aa和Ab，而中心的一对被命名为Ba和Bb。

                .pet_article_footer_info Copyright(c)2015 Amaze UI All Rights Reserved
        script(src='../javascripts/jquery.min.js')
        script(src='../javascripts/amazeui.min.js')
        script.
            $(function(){
                auto_resize();
                $(window).resize(function() {
                    auto_resize();
                });
                $('.am-list-thumb img').load(function(){
                    auto_resize();
                });
                $('.pet_article_like li:last-child').css('border','none');
                function auto_resize(){
                    $('.pet_list_one_nr').height($('.pet_list_one_img').height());
                    // alert($('.pet_list_one_nr').height());
                }
                $('.pet_article_user').on('click',function(){
                    if($('.pet_article_user_info_tab').hasClass('pet_article_user_info_tab_show')){
                        $('.pet_article_user_info_tab').removeClass('pet_article_user_info_tab_show').addClass('pet_article_user_info_tab_cloes');
                    }else{
                        $('.pet_article_user_info_tab').removeClass('pet_article_user_info_tab_cloes').addClass('pet_article_user_info_tab_show');
                    }
                });
                $('.pet_head_gd_ico').on('click',function(){
                    $('.pet_more_list').addClass('pet_more_list_show');
                });
                $('.pet_more_close').on('click',function(){
                    $('.pet_more_list').removeClass('pet_more_list_show');
                });
            });
