doctype html
html
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
        meta(name='keywords', content='')
        meta(name='description', content='')
        link(rel='stylesheet', href='/stylesheets/amazeui.min.css')
        link(rel='stylesheet', href='/stylesheets/interest.css')
        title 趣闻
    body(style='background:#ececec')
        .pet_mian
            .am-gotop.am-gotop-fixed(data-am-widget='gotop')
                a(href='#top', title='')
                    img.am-gotop-icon-custom(src='../images/goTop.png')
            .pet_head
                header.am-header.am-header-default.pet_head_block(data-am-widget='header')
                    .am-header-left.am-header-nav
                        a.iconfont.pet_head_jt_ico(href='/indexnew') 
                    .pet_news_list_tag_name 趣闻
                    .am-header-right.am-header-nav
                        a.iconfont.pet_head_gd_ico(href='javascript:;') 
            .pet_more_list
                .pet_more_list_block
                    .iconfont.pet_more_close ×
                    .pet_more_list_block
                        .pet_more_list_block_name
                            .pet_more_list_block_name_title 阅读 Read
                            a.pet_more_list_block_line(href='/fleshcontent')
                                i.iconfont.pet_nav_xinxianshi.pet_more_list_block_line_ico 
                                .pet_more_list_block_line_font 新鲜事
                            a.pet_more_list_block_line(href='/video')
                                i.iconfont.pet_nav_zhangzhishi.pet_more_list_block_line_ico 
                                .pet_more_list_block_line_font 视频
                            a.pet_more_list_block_line(href='/indexnew')
                                i.iconfont.pet_nav_kantuya.pet_more_list_block_line_ico 
                                .pet_more_list_block_line_font 首页
            .pet_content.pet_content_list
                .pet_article_like
                    .pet_content_main.pet_article_like_delete
                        .am-list-news.am-list-news-default.am-no-layout(data-am-widget='list_news')
                            .am-list-news-bd
                                ul.am-list
                                    li.am-g.am-list-item-desced.pet_list_one_block
                                        .pet_list_one_info
                                            .pet_list_one_info_l
                                                .pet_list_one_info_ico
                                                    img(src='/images/qq4.png', alt='')
                                                .pet_list_one_info_name Hope
                                            .pet_list_one_info_r
                                        .am-list-main
                                            h3.am-list-item-hd.pet_list_one_bt
                                                a(href='###') 男女旅行的差异，男人们在稻城亚丁都只知道睡觉吗！
                                            .pet_list_zt_img.pet_kjdt_user_r_font_img
                                                figure.am.am-figure.am-figure-default(data-am-widget='figure', data-am-figure="{  pureview: 'true' }")
                                                    img(src='/images/s1.jpg', data-rel='/images/s1.jpg', alt='男女旅行的差异，男人们在稻城亚丁都只知道睡觉吗！')
                                            .am-list-item-text.pet_list_two_text
                                                | 自古以来，男人与女人就在行为、思维上存在诸多差别，这一点放在旅途中尤其明显。
                                                |
                                                | 在我一次去西藏旅游的经历中，同行伙伴有一对情侣。当我们经过理塘，到达稻城亚丁后，在本该游玩稻城亚丁景区的时间里，男孩竟然自己在酒店睡大觉，让女孩单独一人去爬牛奶海。
                                    li.am-g.am-list-item-desced.pet_list_one_block
                                        .pet_list_one_info
                                            .pet_list_one_info_l
                                                .pet_list_one_info_ico
                                                    img(src='/images/qq4.png', alt='')
                                                .pet_list_one_info_name Hope
                                            .pet_list_one_info_r
                                        .am-list-main
                                            h3.am-list-item-hd.pet_list_one_bt
                                                a(href='###') 西藏旅游,仅为逃婚,冬季拉萨15℃,计划去拉萨过年人还挺多!!
                                            .pet_list_zt_img.pet_kjdt_user_r_font_img
                                                figure.am.am-figure.am-figure-default(data-am-widget='figure', data-am-figure="{  pureview: 'true' }")
                                                    img(src='/images/interest2.jpg', data-rel='/images/interest2.jpg', alt='西藏旅游,仅为逃婚,冬季拉萨15℃,计划去拉萨过年人还挺多!!')
                                            .am-list-item-text.pet_list_two_text
                                                | 为了躲避催婚，远离一年一度的春节相亲大会，才华与颜值兼并的我，计划过年去西藏旅游。
                                                |
                                                | 我的拉萨旅游行程，初步计划5天，花费3000元，文章一发布，引起了各方驴友的。原来，过年打算去西藏拉萨旅游的人，不止我一个，还有很多！
                                    li.am-g.am-list-item-desced.pet_list_one_block
                                        .pet_list_one_info
                                            .pet_list_one_info_l
                                                .pet_list_one_info_ico
                                                    img(src='/images/qq4.png', alt='')
                                                .pet_list_one_info_name Hope
                                            .pet_list_one_info_r
                                        .am-list-main
                                            h3.am-list-item-hd.pet_list_one_bt
                                                a(href='###') 2019年最值得拍照的旅游目的地，亚洲城市受欢迎，第一名是
                                            .pet_list_zt_img.pet_kjdt_user_r_font_img
                                                figure.am.am-figure.am-figure-default(data-am-widget='figure', data-am-figure="{  pureview: 'true' }")
                                                    img(src='/images/water.jpg', data-rel='/images/water.jpg', alt='2019年最值得拍照的旅游目的地，亚洲城市受欢迎，第一名是')
                                            .am-list-item-text.pet_list_two_text
                                                | 据《镜报》1月13日报道，有一项研究评选出2019年十大最值得拍照的旅游目的地。第一名是斯里兰卡最大城市——科伦坡。这里的自然景观和人文景观吸引了大批游客举起手中的相机。科伦坡位于锡兰岛西南岸、紧邻印度洋 ，是
                .pet_article_footer_info Copyright(c)2015 PetShow All Rights Reserved
        script(src='/javascripts/jquery.min.js')
        script(src='/javascripts/amazeui.min.js')
        script.
            $(function(){
                // 动态计算新闻列表文字样式
                auto_resize();
                $(window).resize(function() {
                    auto_resize();
                });
                $('.am-list-thumb img').load(function(){
                    auto_resize();
                });
                $('.pet_article_like li:last-child').css('border','none');
                function auto_resize(){
                    $('.pet_list_one_nr').height($('.pet_list_one_img').height());
                    // alert($('.pet_list_one_nr').height());
                }
                $('.pet_article_user').on('click',function(){
                    if($('.pet_article_user_info_tab').hasClass('pet_article_user_info_tab_show')){
                        $('.pet_article_user_info_tab').removeClass('pet_article_user_info_tab_show').addClass('pet_article_user_info_tab_cloes');
                    }else{
                        $('.pet_article_user_info_tab').removeClass('pet_article_user_info_tab_cloes').addClass('pet_article_user_info_tab_show');
                    }
                });
                $('.pet_head_gd_ico').on('click',function(){
                    $('.pet_more_list').addClass('pet_more_list_show');
                });
                $('.pet_more_close').on('click',function(){
                    $('.pet_more_list').removeClass('pet_more_list_show');
                });
            });
