doctype html
html
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
        meta(name='keywords', content='')
        meta(name='description', content='')
        link(rel='stylesheet', href='./stylesheets/amazeui.min.css')
        link(rel='stylesheet', href='./stylesheets/videocontent.css')
        title 视频内容页
    body(style='background:#ececec')
        .am-gotop.am-gotop-fixed(data-am-widget='gotop')
            a(href='#top', title='')
                img.am-gotop-icon-custom(src='../images/goTop.png')
        .pet_mian
            .pet_head
                header.am-header.am-header-default.pet_head_block(data-am-widget='header')
                    .am-header-left.am-header-nav
                        a.iconfont.pet_head_jt_ico(href='/indexnew') 
                    h1.am-header-title.pet_article_user
                        .pet_article_user_info_tab
                            .pet_article_user_info_tab_font
                                .pet_article_user_info_tab_font_triangle
                                .pet_article_user_info_tab_font_center
                                    i 文章
                                    span 16篇
                        span.pet_article_user_ico
                            img(src='../images/a6.png', alt='')
                        span.pet_article_user_name La Da Dee
                    .am-header-right.am-header-nav
                        a.iconfont.pet_head_gd_ico(href='javascript:;') 
            .pet_more_list
                .pet_more_list_block
                    .iconfont.pet_more_close ×
                    .pet_more_list_block
                        .pet_more_list_block_name
                            .pet_more_list_block_name_title 阅读 Read
                            a.pet_more_list_block_line(href='/fleshcontent')
                                i.iconfont.pet_nav_xinxianshi.pet_more_list_block_line_ico 
                                .pet_more_list_block_line_font 新鲜事
                            a.pet_more_list_block_line
                                i.iconfont.pet_nav_zhangzhishi.pet_more_list_block_line_ico 
                                .pet_more_list_block_line_font 阅读
                            a.pet_more_list_block_line
                                i.iconfont.pet_nav_kantuya.pet_more_list_block_line_ico 
                                .pet_more_list_block_line_font 趣闻
                            a.pet_more_list_block_line(href='/indexnew')
                                i.iconfont.pet_nav_wd.pet_more_list_block_line_ico 
                                .pet_more_list_block_line_font 首页
            .pet_content
                .pet_content_block
                    article.am-paragraph.am-paragraph-default.pet_content_article(data-am-widget='paragraph', data-am-paragraph='{ tableScrollable: true, pureview: true }')
                        h1.pet_article_title 全新扩展包“砰砰计划”现已上线
                        .pet_article_user_time 发布日期：2018-08-08
                        video(src='./video/炉石传说.mp4', controls="controls", width='380', height='350', align='middle')
                        p
                            | 在漂浮的虚空风暴群岛上，紫色闪电的包裹下隐藏着一座世界级的秘密设施——砰砰实验室。砰砰博士正是在这里构思出了伟大的“砰砰计划”。作为一名曾在52区工作的研究人员，砰砰博士凭借单枪匹马之力，在机械设计和灾难性快速拆卸领域成为了一颗冉冉升起的新星。
                        p 在成为同类领域中最顶尖的科学家后，砰砰博士决定是时候尝试些新挑战了。于是便有了“砰砰计划”的诞生——一项囊括各个学科的研究，其效果足以永久改变这个世界！时至今日，他的团队仍在致力于计划的细节工作……
                    ul.like_share_block
                        li
                            a.link_share_button(href='###')
                                i.iconfont.share_ico_link 
                                | 1460
                        li
                            a.link_share_button(href='###')
                                i.iconfont.share_ico_wx 
                                | 微信
                        li
                            a.link_share_button(href='###')
                                i.iconfont.share_ico_pyq 
                                | 朋友圈
                .pet_comment_list
                    .pet_comment_list_wap
                        .pet_comment_list_title 精彩评论
                        .am-tabs.am-tabs-default.pet_comment_list_tab(data-am-widget='tabs')
                            ul.am-tabs-nav.am-cf.pet_comment_list_title_tab
                                li.am-active
                                    a(href='[data-tab-panel-0]') 人气
                                li
                                    a(href='[data-tab-panel-1]') 最新
                                li
                                    a(href='[data-tab-panel-2]') 最早
                            .am-tabs-bd.pet_pl_list
                                .am-tab-panel.am-active(data-tab-panel-0='')
                                    .pet_comment_list_block
                                        .pet_comment_list_block_l
                                            img(src='../images/lushi1.jpg', alt='')
                                        .pet_comment_list_block_r
                                            .pet_comment_list_block_r_info Amaze
                                            .pet_comment_list_block_r_text 给暴雪爸爸个建议，不要调出橙率好不好，都不傻，买预购的出橙率明显低，您是感觉我们有钱还会再买的是吗，可以明确的告诉你，143包四橙玩不起这个游戏，以后不会充钱
                                            .pet_comment_list_block_r_bottom
                                                .pet_comment_list_bottom_info_l 10分钟前
                                                .pet_comment_list_bottom_info_r
                                                    span
                                                        i.iconfont 
                                                        | 5
                                                    span  回复
                                    .pet_comment_list_block
                                        .pet_comment_list_block_l
                                            img(src='../images/lushi1.jpg', alt='')
                                        .pet_comment_list_block_r
                                            .pet_comment_list_block_r_info 一如既往
                                            .pet_comment_list_block_r_text
                                                span @Drary
                                                | 有没有打竞技场存卡包的选手
                                            .pet_comment_list_block_r_bottom
                                                .pet_comment_list_bottom_info_l 15分钟前
                                                .pet_comment_list_bottom_info_r
                                                    span
                                                        i.iconfont 
                                                        | 5
                                                    span  回复
                                    .pet_comment_list_block
                                        .pet_comment_list_block_l
                                            img(src='../images/lushi1.jpg', alt='')
                                        .pet_comment_list_block_r
                                            .pet_comment_list_block_r_info AllThe
                                            .pet_comment_list_block_r_text 3包一个卡包出来3个橙，一个金橙，笑的我一天没合拢嘴，哈哈哈哈哈哈哈
                                            .pet_comment_list_block_r_bottom
                                                .pet_comment_list_bottom_info_l 30分钟前
                                                .pet_comment_list_bottom_info_r
                                                    span
                                                        i.iconfont 
                                                        | 5
                                                    span  回复
                                .am-tab-panel(data-tab-panel-1='')
                                    .pet_comment_list_block
                                        .pet_comment_list_block_l
                                            img(src='../images/lushi1.jpg', alt='')
                                        .pet_comment_list_block_r
                                            .pet_comment_list_block_r_info Amaze
                                            .pet_comment_list_block_r_text 给暴雪爸爸个建议，不要调出橙率好不好，都不傻，买预购的出橙率明显低，您是感觉我们有钱还会再买的是吗，可以明确的告诉你，143包四橙玩不起这个游戏，以后不会充钱
                                            .pet_comment_list_block_r_bottom
                                                .pet_comment_list_bottom_info_l 10分钟前
                                                .pet_comment_list_bottom_info_r
                                                    span
                                                        i.iconfont 
                                                        | 5
                                                    span  回复
                                    .pet_comment_list_block
                                        .pet_comment_list_block_l
                                            img(src='../images/lushi1.jpg', alt='')
                                        .pet_comment_list_block_r
                                            .pet_comment_list_block_r_info 一如既往
                                            .pet_comment_list_block_r_text
                                                span @Drary
                                                | 有没有打竞技场存卡包的选手
                                            .pet_comment_list_block_r_bottom
                                                .pet_comment_list_bottom_info_l 15分钟前
                                                .pet_comment_list_bottom_info_r
                                                    span
                                                        i.iconfont 
                                                        | 5
                                                    span  回复
                                    .pet_comment_list_block
                                        .pet_comment_list_block_l
                                            img(src='../images/lushi1.jpg', alt='')
                                        .pet_comment_list_block_r
                                            .pet_comment_list_block_r_info AllThe
                                            .pet_comment_list_block_r_text 3包一个卡包出来3个橙，一个金橙，笑的我一天没合拢嘴，哈哈哈哈哈哈哈
                                            .pet_comment_list_block_r_bottom
                                                .pet_comment_list_bottom_info_l 30分钟前
                                                .pet_comment_list_bottom_info_r
                                                    span
                                                        i.iconfont 
                                                        | 5
                                                    span  回复
                                .am-tab-panel(data-tab-panel-2='')
                                    .pet_comment_list_block
                                        .pet_comment_list_block_l
                                            img(src='../images/lushi1.jpg', alt='')
                                        .pet_comment_list_block_r
                                            .pet_comment_list_block_r_info Amaze
                                            .pet_comment_list_block_r_text 给暴雪爸爸个建议，不要调出橙率好不好，都不傻，买预购的出橙率明显低，您是感觉我们有钱还会再买的是吗，可以明确的告诉你，143包四橙玩不起这个游戏，以后不会充钱
                                            .pet_comment_list_block_r_bottom
                                                .pet_comment_list_bottom_info_l 10分钟前
                                                .pet_comment_list_bottom_info_r
                                                    span
                                                        i.iconfont 
                                                        | 5
                                                    span  回复
                                    .pet_comment_list_block
                                        .pet_comment_list_block_l
                                            img(src='../images/lushi1.jpg', alt='')
                                        .pet_comment_list_block_r
                                            .pet_comment_list_block_r_info 一如既往
                                            .pet_comment_list_block_r_text
                                                span @Drary
                                                | 有没有打竞技场存卡包的选手
                                            .pet_comment_list_block_r_bottom
                                                .pet_comment_list_bottom_info_l 15分钟前
                                                .pet_comment_list_bottom_info_r
                                                    span
                                                        i.iconfont 
                                                        | 5
                                                    span  回复
                                    .pet_comment_list_block
                                        .pet_comment_list_block_l
                                            img(src='../images/lushi1.jpg', alt='')
                                        .pet_comment_list_block_r
                                            .pet_comment_list_block_r_info AllThe
                                            .pet_comment_list_block_r_text 3包一个卡包出来3个橙，一个金橙，笑的我一天没合拢嘴，哈哈哈哈哈哈哈
                                            .pet_comment_list_block_r_bottom
                                                .pet_comment_list_bottom_info_l 30分钟前
                                                .pet_comment_list_bottom_info_r
                                                    span
                                                        i.iconfont 
                                                        | 5
                                                    span  回复
                .pet_article_like
                    .pet_article_like_title 猜你喜欢
                    .pet_content_main.pet_article_like_delete
                        .am-list-news.am-list-news-default.am-no-layout(data-am-widget='list_news')
                            .am-list-news-bd
                                ul.am-list
                                    // 缩略图在标题右边
                                    li.am-g.am-list-item-desced.am-list-item-thumbed.am-list-item-thumb-right.pet_list_one_block
                                        .pet_list_one_info
                                            .pet_list_one_info_l
                                                .pet_list_one_info_ico
                                                    img(src='../images/a1.png', alt='')
                                                .pet_list_one_info_name Super invincible 菁
                                            .pet_list_one_info_r
                                                .pet_list_tag.pet_list_tag_xxs 新鲜事
                                        .am-u-sm-8.am-list-main.pet_list_one_nr
                                            h3.am-list-item-hd.pet_list_one_bt
                                                a(href='/fleshcontent1') 长假期间，人们依然提不起精神！
                                            .am-list-item-text.pet_list_one_text 每逢长假，总有那么一群人选择远离人山人海，静静地呆在家，坐在电脑电视前。长时间的工作学习让他们感觉很疲惫，对什么都提不起劲，打开电脑却不知道干什么好…
                                        .am-u-sm-4.am-list-thumb
                                            a(href='/fleshcontent1')
                                                img.pet_list_one_img(src='../images/w1.jpeg', alt='')
                                    li.am-g.am-list-item-desced.am-list-item-thumbed.am-list-item-thumb-right.pet_list_one_block
                                        .pet_list_one_info
                                            .pet_list_one_info_l
                                                .pet_list_one_info_ico
                                                    img(src='../images/a6.png', alt='')
                                                .pet_list_one_info_name La Da Dee
                                            .pet_list_one_info_r
                                                .pet_list_tag.pet_video_tag 视频
                                        .am-u-sm-8.am-list-main.pet_list_one_nr
                                            h3.am-list-item-hd.pet_list_one_bt
                                                a(href='/videocontent') 8月22日破解“谜题实验室”
                                            .am-list-item-text.pet_list_one_text
                                                | “砰砰计划”免费单人冒险——谜题实验室将在8月22日开放！运用你的过人智慧破解科学难题，分析斩杀、清场、镜像和生存四种令人困惑的谜题吧！
                                        .am-u-sm-4.am-list-thumb.pet_video_info
                                            .pet_video_info_tag
                                                i.iconfont 
                                                | 00:59
                                            a(href='/videocontent')
                                                img.pet_list_one_img(src='../images/lushi2.png', alt='')
                                    li.am-g.am-list-item-desced.am-list-item-thumbed.am-list-item-thumb-right.pet_list_one_block
                                        .pet_list_one_info
                                            .pet_list_one_info_l
                                                .pet_list_one_info_ico
                                                    img(src='../images/a2.png', alt='')
                                                .pet_list_one_info_name AbsScript
                                            .pet_list_one_info_r
                                                .pet_list_tag.pet_list_tag_zzs 趣闻
                                        .am-u-sm-8.am-list-main.pet_list_one_nr
                                            h3.am-list-item-hd.pet_list_one_bt
                                                a(href='###') 内马尔回巴西PK女花式足球员，3：1不敌女方！
                                            .am-list-item-text.pet_list_one_text 巴西球星内马尔的脚下功夫相信大家都不会怀疑，因为他经常在比赛中都用花巧的招数过人，森巴味十足。不过，原来技术这么好的球星，都可能不敌女花式足球员，真的是巾帼不让须眉。
                                        .am-u-sm-4.am-list-thumb
                                            a(href='###')
                                                img.pet_list_one_img(src='../images/football.jpg', alt='我很囧，你保重....晒晒旅行中的那些囧！')
                                    li.am-g.am-list-item-desced.pet_list_one_block
                                        .pet_list_one_info
                                            .pet_list_one_info_l
                                                .pet_list_one_info_ico
                                                    img(src='../images/a3.png', alt='')
                                                .pet_list_one_info_name 养了猫
                                            .pet_list_one_info_r
                                                .pet_list_tag.pet_list_tag_stj 阅读
                                        .am-list-main
                                            h3.am-list-item-hd.pet_list_one_bt
                                                a(href='###') 支付宝正式官宣！集五福终于来了，有什么新套路？
                                            ul.am-gallery.am-avg-sm-3.am-avg-md-3.am-avg-lg-3.am-gallery-default.pet_list_one_list(data-am-widget='gallery')
                                                li
                                                    .am-gallery-item
                                                        a(href='###')
                                                            img(src='../images/zhifubao1.jpg', alt='某天 也许会相遇 相遇在这个好地方')
                                                li
                                                    .am-gallery-item
                                                        a(href='###')
                                                            img(src='../images/zhifubao2.jpg', alt='不要太担心 只因为我相信')
                                                li
                                                    .am-gallery-item
                                                        a(href='###')
                                                            img(src='../images/zhifubao3.jpg', alt='终会走过这条遥远的道路')
                                            .am-list-item-text.pet_list_two_text
                                                | 今年支付宝和微信福利一直没停歇，各种小活动层出不穷，尤其是支付宝扫码领红包活动，火了一整年，每天都有人乐此不疲地薅羊毛，而支付宝也没有停下继续制造惊喜的脚步，近日上线了余额宝体验金的活动也收获了不少好评，不过，年底了，大家最期待的还是集五福，这才是年度重磅的支付宝活动。
                .pet_article_footer_info Copyright(c)2015 Amaze UI All Rights Reserved
        script(src='../javascripts/jquery.min.js')
        script(src='../javascripts/amazeui.min.js')
        script.
            $(function(){
                // 动态计算优酷土豆QQ视频等视频引用尺寸问题
                function auto_video(){
                    var iframe_width = $('article > embed').width();
                    $('article > embed').height(iframe_width/4*3);
                    $('article > embed').css({'display':'block','margin':'20px auto'});
                }
                // 动态计算新闻列表文字样式
                auto_resize();
                auto_video();
                $(window).resize(function() {
                    auto_resize();
                    auto_video();
                });
                $('.am-list-thumb img').load(function(){
                    auto_resize();
                });
                $('.pet_article_like li:last-child').css('border','none');
                function auto_resize(){
                    $('.pet_list_one_nr').height($('.pet_list_one_img').height());
                    // alert($('.pet_list_one_nr').height());
                }
                $('.pet_article_user').on('click',function(){
                    if($('.pet_article_user_info_tab').hasClass('pet_article_user_info_tab_show')){
                        $('.pet_article_user_info_tab').removeClass('pet_article_user_info_tab_show').addClass('pet_article_user_info_tab_cloes');
                    }else{
                        $('.pet_article_user_info_tab').removeClass('pet_article_user_info_tab_cloes').addClass('pet_article_user_info_tab_show');
                    }
                });
                $('.pet_head_gd_ico').on('click',function(){
                    $('.pet_more_list').addClass('pet_more_list_show');
                });
                $('.pet_more_close').on('click',function(){
                    $('.pet_more_list').removeClass('pet_more_list_show');
                });
            });
